.payment__header {
    display: flex;
    margin-bottom: 20px;
}

.payment__title {
    display: flex;
    align-items: center;
}

.payment__title-i {
    color: #e6a800;
    margin-left: .6rem;
    font-size: 24px;
}

.paymentTabs {
    list-style: none;
    margin: 0;
}

.paymentTabs > li {
    cursor: pointer;
    border-bottom: solid 1px #caccce;
    padding: 16px 14px;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: all .15s ease-in;
}

.paymentTabs--isSelected {
    background: #f0f8ff;
}

.paymentTabs__cardIcon {
    color: #afb3b6;
    font-size: 24px;
    margin-right: 12px;
}

.paymentTabs--isSelected > .paymentTabs__cardIcon {
    color: #38a4fe;
}

.payment > section {
    margin-top: 20px;
    overflow: hidden;
}

.payment__newCardTitle {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 12px;
}

.payment__cardForm {
    width: 380px;
}

.payment__row {
    display: flex;
    gap: 10px;
}

.payment-input {
    border: solid 1px #95999d;
    padding: 8px 15px;
    margin-bottom: 10px;
    transition: all .15s ease-in;
}

.payment-input:focus {
    border: solid 1px black;
    box-shadow: none;
}

.payment-input[type="text"]::placeholder {
    color: rgb(117, 117, 117);
}

.payment__paypal {
    min-width: 500px;
    max-width: 750px;
}

.paypal-btn {
    background: #ffc439;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

.paypal-btn > img {
    display: block;
    width: 63px;
}

.paypal-tagline {
    text-align: center;
}

@media screen and (max-width: 63.99875em) {
    .payment__header {
        display: block;
    }
}