.checkout {
    margin: 24px 0;
}

.checkout__container {
    max-width: 1230px;
}

.checkout__nav {
    margin-bottom: 18px;
}

.checkout__panes {
    display: flex;
}

.checkout__leftPane {
    width: 100%;
    margin-right: 25px;
}

.checkout__rightPane {
    max-width: 318px;
    width: 100%;
}

.checkout__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressTracker {
    display: flex;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
}

.progressTracker__step {
    color: #95999d;
    pointer-events: none;
}

.progressTracker--isComplete {
    color: #38a4fe;
    pointer-events: auto;
}

.progressTracker--isCurrent {
    font-weight: 700;
    color: #0161b2;
}

.progressTracker__step-i {
    margin-right: 4px;
}

.fieldGroup__row {
    display: flex;
    gap: 10px;
}

.fieldGroup__validated {
    flex: 1;
}

.fieldGroup input {
    border: solid 1px #afb3b6;
    padding: 12px 15px;
    margin-bottom: 10px;
}

.fieldGroup select {
    border: solid 1px #afb3b6;
    padding: 7px 15px;
    margin-bottom: 10px;
    background-position: right .5rem center;
    font-size: 16px;
}

.fieldGroup input:focus, .fieldGroup select:focus {
    border: solid 1px #62666a;
    box-shadow: none;
}

.addressBlocks__options {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.secondaryCta {
    border: solid 1px #23588f;
    color: #23588f;
    background: #fff;
    cursor: pointer;
    width: 280px;
    padding: 14px;
    font-size: 16px;
    font-weight: 700;
}

.secondaryCta:hover {
    border: solid 1px #38a4fe;
    color: #38a4fe;
}

.textUpdates {
    display: flex;
    padding: 20px 50px 20px 20px;
    margin-bottom: 20px;
    border: solid 1px #eaecee;
    cursor: pointer;
}

.textUpdates__checkbox {
    width: 1.75em;
    height: 1.75em;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
}

.textUpdates__checkbox > span {
    position: absolute;
    top: 0;
    left: 0;
}

.textUpdates__checkbox > span::before {
    content: "";
    position: absolute;
    width: 1.75em;
    height: 1.75em;
    background: #fff;
    border: solid 1px #cbd2d8;
}

.textUpdates__checkbox:hover > span::before {
    border-color: #687475;
}

.textUpdates__checkbox > input[type="checkbox"]:checked + span::before {
    border-color: #cbd2d8;
}

.textUpdates__checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    left: .35em;
    top: .4em;
    width: 1em;
    height: .55em;
}

.textUpdates__checkbox > input[type="checkbox"]:checked + span::after {
    border: 4px solid #38a4fe;
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
}

.textUpdates__desc > p:first-child {
    color: black;
    font-size: 1.15rem;
    font-weight: bold;
}

.textUpdates__desc > p:first-child > svg {
    color: #38a4fe;
}

.textUpdates__desc > p {
    color: #687475;
    margin: 0;
}

.textUpdates__desc > p > a {
    color: #687475;
    text-decoration: underline;
}

.delivery__method {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.delivery__shippingMethod {
    display: block;
    padding: .75rem;
    border-radius: 2px;
    border: solid 1px #eaecee;
    box-shadow: 0 10px 6px -2px #eaecee;
}

.delivery__flexCenterWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery__checkBox {
    position: relative;
    cursor: pointer;
    width: 1.75em;
    height: 1.75em;
    margin-right: .5rem;
}

.delivery__checkBox > span {
    position: absolute;
    top: 0;
    left: 0;
}

.delivery__checkBox > span::before {
    content: "";
    position: absolute;
    display: block;
    width: 1.75em;
    height: 1.75em;
    background-color: white;
    border: solid 1px #cbd2d8;
}

.delivery__checkBox > input:checked + span::after {
    content: "";
    position: absolute;
    display: block;
    width: 1em;
    height: .55em;
    border: 3px solid #11DC5C;
    border-top-style: none;
    border-right-style: none;
    left: .35em;
    top: .45em;
    transform: rotate(-45deg);
}

.delivery__methodPrice {
    font-weight: 600;
}

.delivery__methodDelivery {
    color: #90929a;
    font-size: .9rem;
    font-weight: normal;
    margin-top: 3px;
    text-align: center;
}

.delivery__methodWindow {
    color: #38a4fe;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.delivery__disclaimer {
    color: #687475;
}

.guestPage__signIn {
    margin-top: 2rem;
}

.guestPage__link {
    color: #687475;
}

.guestPage__link:hover {
    color: #38a4fe;
}

.checkout__error {
    background: #fc2c37;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 39.99875em) {
    .fieldGroup--rowIsCollapsible {
        display: block;
    }
}